@import url('https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap');

#nome{
    font-family: "Sedan SC", serif;
    font-weight: 400;
    font-style: normal;
}
header{
    background-color: rgb(99, 123, 231);
}
#card-banner{
    position: relative;
}
#banner-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: 35% 35%;
    filter: brightness(55%);
    border-radius: var(--bs-card-border-radius)
}
#banner-body{
    position: relative;
}
.card{
    --bs-card-border-color: 0 !important;
}
.card-blue{
    background-color: rgb(33, 95, 136);
    flex-wrap: wrap;
}